.header {
    font-size: xx-large;
    color: white;
    font-family: Arial;
}
.background {
    background-image: url("../images/bkgphoto.jpg");
    background-color: teal;     
    height: 604px;
    width: 868px;
    background-position: center; 
    background-repeat: repeat; 
  }

.playarea {
    background-color: teal;
    width: 250px;
    height: 150px;
    font-size: large;
}

.winlose {
    float: right;
    width: 100px;
    height: 150px;
    background-color: white; 
    float: left;
    display: inline;
}

.crystalArea {
    background-color: grey;
    opacity: 1;
    width: 400px;
    height: 100px;
}

.scoreArea {
    width: 150px;
    height: 150px;
    background-color: teal;
    color: white;
    font-size: xx-large;
}

.crystalimage {
    width: 100px;
    height: 100px;
    float: left;
    display: inline;
}

.ultimateNumber {
    height: 150px;
    width: 150px;
    float: left;
    display: inline;
    color:white;
    font-size: xx-large;
}
.how-to-play {
    font-size: large;
    color: rebeccapurple
}